
/*General*/

body {
    width: 800px;
    margin: 0 auto;
    /* Set an image as the background for the body element */
    
}
/*Typography*/
h1,h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    text-align: center;
}
/* Block Styling*/
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background:  url("Lab4/images/phone_globe_copy.jpg") no-repeat 50% center;
    color: black;
    }
/*style the div childre*/
body > div {
    border: 5px solid black;
    display: flex;
}
/*make the pictures smaller and uniformed*/
img {width: 200px;
    height: 200px;
}
/*make Items font larger and bold*/
h2{
    font-size: 20px;
    font-weight: bold;
    color:black;
}
/* make price font larger and bold*/
 p{
    font-size: 40px;
    font-weight: bold;
    color: yellow;
}
.rotate img
{
    animation: rotation .3s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
