/* General Styling */
body {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0 auto;
    font-size: 20px;
    overflow: auto;
    position: relative;
}


.navbar {
    min-height: 80px;
    width: 100%;
    background-color: rgb(213, 210, 210);
    text-transform: uppercase;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}




/* Styling image */
img {
    max-width: 200px;
}
.img-thumbnail {
    border: none;
}
/* Header */
header {
    width: 100%;
    height: 80px;
    padding-top: 30px;
    text-align: center;
    font-size: 2em; 
    line-height: 80%; 
    letter-spacing: 0.05em;

}
h3 {
    font-family: 'Jost', sans-serif; /* Change "Your Desired Font" to the font you want to use */
    font-size: 15px; /* Change the font size as needed */
}
/* Footer */
footer {
    width: 100%;
    background-color: rgb(216, 126, 9);
    position: relative;
    bottom: 0;
    padding: 10px;
    color: white;
}
.contactIcons {
    color: white;
}
/* Top portion of nav */


#search-form {
    border-radius: 50px;
    max-width: 250px;
    border: 2px solid white;
}
.search-field {
    border: 0;
    outline: 0 none;
    color: black;
    margin-right: 7px;
}
.search-submit {
    background: none;
    border: none;
    color: black;
}
/* Bottom portion of nav */
.navbar-toggler {
    color: rgb(209, 140, 11);
    font-size: 20px;
}






